services:
    node:
        container_name: api-server
        image: api-server:${TAG}
        build:
            context: .
            dockerfile: ./Dockerfile
        environment:
            DATABASE_URL: mongodb://mongo:27017
        env_file:
            - .env
        ports:
            - 4008:4000
        depends_on:
            - mongo
        networks:
            - webnet

    mongo:
        container_name: mongo-server
        image: mongo:3.6
        restart: always
        volumes:
            - /Users/lincenying/web/mongodb/data:/data/db
        ports:
            - 27017:27017
        networks:
            - webnet

networks:
    webnet:
        driver: bridge
